.phieunhap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.phieunhap-content {
  position: relative;
  background-color: #fff;
  margin: 2% auto;
  padding: 20px;
  width: 80%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
  animation: zoomIn 0.3s ease;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.detail-table {
  width: 100%;
  margin: 15px 0;
}

.detail-table input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-actions {
  margin-top: 20px;
  text-align: right;
}

.btn-primary,
.btn-secondary,
.btn-view {
  padding: 6px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
}
.btn-view {
  background-color: #2aa4d4;
  color: white;
}
.btn-secondary {
  background-color: #f44336;
  color: white;
}

.btn-delete {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.logout a{
  text-decoration: none;
  color: white;
}
input[type="text"], input[type="number"], select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.2s;
  font-size: 15px;
  resize: none;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus,
textarea:focus {
  border-color: #1976d2;
  outline: none;
}

/* hiệu ứng bật popup */
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
